img{
    height: 150px;
}

.description{
    font-size: 20px;
}

#cook-time{
    font-weight: bold;
}

.ingredients li{
    list-style: square;
}

p.time{
    color: gray;
}

.external-link{
    color: seagreen;
}

h1, h2, p, li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}